body {
    margin: 0 auto;
    background-color: rgb(184, 184, 184);
}

.red {
    color: red;
}

.green {
    color: green;
}


/* HELPERS */

.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.container {
    max-width: 1160px;
    margin: 0 auto;
}

.column {
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

.grid {
    display: grid;
}

.btn {
    cursor: pointer;
    border-radius: 6px;
    border: none;
    outline: none;
    padding: 10px;
    background-color: rgb(15, 15, 58);
    color: beige;
    /* font-size: 30px; */
}

.btn:hover {
    background-color: rgb(44, 103, 122);
    transition: .2s;
}

.main-books-container {
    /* margin-top: 20px; */
    background-color: rgba(255, 255, 255, 0.3);
}


/* HEADER */

.bookpage-header {
    font-size: 55px;
    color: rgb(105, 24, 119);
    /* margin: 10px auto; */
    margin-top: 20px;
    /* text-align: center; */
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
}


/* MAIN CONTAINER */

.book-list {
    grid-template-columns: repeat(3, 320px);
    grid-template-rows: repeat(7, 400px);
    list-style: none;
    row-gap: 5px;
    column-gap: 5px;
    /* padding: 0; */
    /* text-align: center; */
    /* margin: 0 5px */
}

.book-preview {
    background-color: rgb(162, 151, 211);
    color: rgb(15, 15, 58);
    padding: 20px;
    /* margin: 10px; */
    /* height: 300px;
    width: 210px; */
    border-radius: 12px;
}

.book-preview li {
    height: 100%;
    width: 100%;
}

.book-preview:hover {
    opacity: 0.7;
    cursor: pointer;
    transition: .3s;
}

.book-title {
    margin-top: 20px;
    color: rgb(15, 15, 58);
    font-size: 35px;
    font-weight: 600;
}

.book-price {
    margin-bottom: 20px;
    font-size: 25px;
    color: rgb(15, 15, 58);
}


/* FILTER */

.search-header {
    text-align: center;
    font-size: 40px;
    color: wheat;
}

.search-input {
    font-size: 20px;
    padding: 5px;
    margin-top: 20px;
    outline: none;
    border: 1px solid rgb(126, 126, 126);
    border-radius: 10px;
    text-align: center;
}

.search-input-price {
    width: 120px;
    font-size: 20px;
    padding: 5px;
    margin-bottom: 10px;
    outline: none;
    border: 1px solid rgb(126, 126, 126);
    border-radius: 10px;
    text-align: center;
}

.submit-btn {
    color: beige;
    background-color: rgb(24, 24, 70);
    outline: none;
    border: none;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 17px;
    padding: 8px;
    transition: .3s;
    font-weight: 500;
}

.submit-btn:hover {
    cursor: pointer;
    color: black;
    background-color: rgb(73, 143, 167);
}


/* BOOK-DETAILS */

.X-btn {
    position: absolute;
    right: 15px;
    color: rgb(24, 24, 70);
    cursor: pointer;
    border: none;
    outline: none;
    background-color: beige;
    font-size: 20px;
    font-weight: 800;
    transition: .3s;
}

.X-btn:hover {
    color: rgb(67, 67, 168);
}

.book-container {
    margin-top: 20px;
    position: relative;
    /* border: 1px solid; */
    padding: 10px;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.308);
}

.book-details {
    list-style: none;
    text-align: center;
    padding: 20px;
}

.book-details-title {
    font-size: 50px;
    font-weight: 600;
    color: rgb(30, 30, 92);
    margin-bottom: 20px;
    /* border-bottom: 2px solid rgb(15, 15, 58); */
}

.etc-detail {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 500;
    color: rgb(148, 146, 148);
}

.sale-detail {
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 800;
    color: rgb(126, 17, 17);
}

.desc-detail {
    margin-top: 60px;
    margin-bottom: 40px;
    font-size: 20px;
    font-weight: 500;
    color: rgb(88, 88, 88);
}

.book-review {
    margin: 20px auto;
    width: 60px;
}

.book-review a {
    color: beige;
    text-decoration: none;
}

.toggle-read:hover {
    cursor: pointer;
    color: rgb(12, 12, 102);
}

.reviews-container {
    border: 1px solid grey;
    margin-bottom: 20px;
    padding: 20px;
}

.review-on-screen {
    text-align: start;
    list-style: none;
}

.rev-comp {
    padding: 8px;
}

.reviewer-name {
    font-size: 20px;
    font-weight: 600;
    color: rgb(14, 14, 66);
}

.review-text {
    font-size: 17px;
    color: rgb(148, 146, 148);
}

.review-time {
    color: rgb(170, 170, 170);
}

.toggle-read {
    /* border: none;
    outline: none; */
    color: rgb(161, 64, 161);
    text-decoration: underline;
}

.read-more {
    margin: 0 auto;
    max-width: 580px;
    text-align: start;
}


/* REVIEW PAGE */

.review-container {
    background-color: beige;
    margin-bottom: 20px;
}

.review-form button {
    margin-bottom: 15px;
}

.review-form input {
    font-size: 20px;
    padding: 5px;
    margin-bottom: 10px;
    outline: none;
    border: 1px solid rgb(126, 126, 126);
    border-radius: 10px;
    text-align: center;
    margin-bottom: 15px;
}

.review-form select {
    margin-bottom: 15px;
}

.review-form h1 {
    color: rgb(14, 14, 66);
}