@media (max-width:1200px) {
    .notes-container {
        margin: 10px;
        grid-template-columns: repeat(3, 217px);
        grid-template-rows: repeat(10, 1fr);
        row-gap: 10px;
        column-gap: 10px;
    }
}